img{
    margin-left: 480px;
    margin-top: 15px;
    width: 300px;
    height: 160px;
}

.searchbutton{
    margin-left: 300px;
    padding: 0px;
    height: 30px;
    font-size: 14pt; 
    width: 800px;
}